.reel-container {
    width: 80px; /* Increased from 60px to 70px */
    height: 180px;
      
    overflow: hidden;
   padding-top:10px;
    margin:10px;

}

.reel {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.reel li {
    font-size: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#slot-machine{
    border: 1px solid #000;
    margin-top:10px;
}
.highlight {
    border: 2px solid green;
}